{{#each this}}
<div class="card">
    <img src="{{./images/rectangle18.png}}" alt="{{постер фильма}}" class="poster-image">
    <div class="text-content">
        <h1 class="title">{{A FISTFUL OF LEAD}}</h1>
        <div class="flex-ul">
            <ul class="keys">
                <li class="key">Vote / Votes</li>
                <li class="key">Popularity</li>
                <li class="key">Original Title</li>
                <li class="key">Genre</li>
            </ul>
            <ul class="values">
                <li class="value"><span class="vote">{{7.3}}</span> / {{1260}}</li>
                <li class="value">{{100.2}}</li>
                <li class="value">{{A FISTFUL OF LEAD}}</li>
                <li class="value">{{Western}}</li>
            </ul>
        </div>
        <h2 class="about-title">ABOUT</h2>
        <p class="about-text">
            {{Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt
            settlement of the
            gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide
            out in the
            abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the
            very same
            bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead...
            they’ve
            been double crossed – but by who and how?}}
        </p>
        <div>
            <button class="button first-button" type="button">{{ADD TO WATCHED}}</button>
            <button class="button" type="button">{{ADD TO QUEUE}}</button>
        </div>
    </div>
</div>
{{/each}}